<strong>Olá, {{ student }} </strong>
<p>Seu pedido de ajuda foi respondido.</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br>
  <strong>Resposta: </strong> {{ answer }} <br>
  <br>
  <small>
    Se houver algo a mais que possamos ajudá-lo(a), entre em contato conosco.
  </small>
</p>
