<strong>Olá, {{ student }} </strong>
<p>Você foi matriculado, confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plano }} <br>
  <strong>Duração: </strong> {{ date }} <br>
  <strong>Valor: </strong> {{ price }} <br>
  <br>
  <small>
    Caso tenha alguma duvida entre em contato.
  </small>
</p>
